<%@ Page Title="Home Page" Language="C#"
    Inherits="k2e.Default" %>

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="theme-color" content="#4c4c4c">
    <meta name="apple-mobile-web-app-title" content="k2e">
    <meta name="application-name" content="k2e">
    <title>k2e</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=Om5ry92pE7">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=Om5ry92pE7" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=Om5ry92pE7" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=Om5ry92pE7">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=Om5ry92pE7" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=Om5ry92pE7">
    <link rel="manifest" href="/manifest.json?v=Om5ry92pE7">
    <!-- -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script data-service-worker="/sw.js">
      (function() {
        'use strict';
        var workerScript = document.currentScript && document.currentScript.dataset.serviceWorker;

        if (workerScript && 'serviceWorker' in navigator) {
          navigator.serviceWorker.register(workerScript);
        }
      })();
    </script>
    <!-- css -->
    <link href="build/{{#getRevName}}enyo.css{{/getRevName}}" rel="stylesheet" media="screen" />
    <link href="build/{{#getRevName}}app.css{{/getRevName}}" rel="stylesheet" media="screen" />
    <link href="build/{{#getRevName}}print.css{{/getRevName}}" rel="stylesheet" media="print" />
    <!-- js -->
    <script src="build/{{#getRevName}}polyfill.min.js{{/getRevName}}"></script>
    <script src="https://use.typekit.net/lop6oji.js"></script>
    <script>try{Typekit.promise=new Promise(function(a,b){Typekit.load({async:!0,active:a,inactive:b})})}catch(e){}</script>
    <script src="build/{{#getRevName}}enyo.js{{/getRevName}}"></script>
    <script src="build/{{#getRevName}}app.js{{/getRevName}}"></script>
  </head>
  <body class="enyo-unselectable">
    <script>
      new k2e.App().renderInto(document.body);
    </script>
  </body>
</html>