@charset "UTF-8";
/*
  Put anything you reference with "url()" in ../assets/
  This way, you can minify your application, and just remove the "source" folder for production
*/
@font-face {
  font-family: 'fontello';
  src: url("../../assets/fontello.eot?47020726");
  src: url("../../assets/fontello.eot?47020726#iefix") format("embedded-opentype"), url("../../assets/fontello.woff?47020726") format("woff"), url("../../assets/fontello.ttf?47020726") format("truetype"), url("../../assets/fontello.svg?47020726#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?24753718#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-play:before {
  content: '\e800'; }

/* '' */
.icon-twitter:before {
  content: '\e801'; }

/* '' */
.icon-check:before {
  content: '\e802'; }

/* '' */
.icon-resize-full:before {
  content: '\e803'; }

/* '' */
.icon-resize-small:before {
  content: '\e804'; }

/* '' */
.icon-chevron-up:before {
  content: '\e805'; }

/* '' */
.icon-menu:before {
  content: '\e806'; }

/* '' */
.icon-quote-left:before {
  content: '\e807'; }

/* '' */
.icon-evernote:before {
  content: '\e808'; }

/* '' */
.icon-left-big:before {
  content: '\e809'; }

/* '' */
.icon-upload:before {
  content: '\e80a'; }

/* '' */
.icon-mail:before {
  content: '\e80b'; }

/* '' */
.icon-docs:before {
  content: '\e80d'; }

/* '' */
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em; }

/***********************************************************************************************/
body,
.onyx {
  font-family: 'droid sans', Helvetica, sans; }

#app {
  background-color: #333; }

.k2e-color-error {
  color: #CE3030; }

.k2e-main-panel {
  -webkit-box-shadow: -4px 0 4px rgba(0, 0, 0, 0.3);
          box-shadow: -4px 0 4px rgba(0, 0, 0, 0.3); }

.onyx-toolbar .k2e-export-button {
  background-color: #2DBE60; }

.onyx-button,
.k2e-animated-popup {
  -webkit-transition: visibility 0s ease-in 0.3s, opacity 0.3s ease-in;
  -o-transition: visibility 0s ease-in 0.3s, opacity 0.3s ease-in;
  transition: visibility 0s ease-in 0.3s, opacity 0.3s ease-in; }

.k2e-animated-popup.k2e-hidden {
  display: block !important; }

.onyx-radiobutton {
  color: #292929;
  text-shadow: none; }

.onyx-button:hover,
.onyx-radiobutton:hover,
.onyx-toggle-button:hover {
  cursor: pointer; }

.onyx-button.disabled:hover,
.onyx-button[disabled]:hover,
.onyx-toggle-button.disabled:hover,
.onyx-toggle-button[disabled]:hover,
.onyx-radiobutton.disabled:hover,
.onyx-radiobutton[disabled]:hover {
  cursor: default; }

.onyx-radiobutton.disabled,
.onyx-radiobutton[disabled] {
  opacity: 0.4;
  filter: alpha(opacity=40); }

.onyx-slider-knob:hover {
  cursor: move; }

.k2e-sidebar {
  width: 25%; }

.k2e-icon-button {
  padding: 6px; }

.onyx-toolbar .k2e-icon-button {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none; }

.onyx-toolbar .k2e-icon-button:hover {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8); }

.onyx-toolbar .k2e-icon-button.active:hover {
  text-shadow: none; }

.onyx-toolbar .k2e-icon-button.active {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: #707070;
  -webkit-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1); }

.onyx-button.k2e-caution-button {
  background-color: #d85959;
  color: #F2F2F2; }

.k2e-hidden {
  visibility: hidden;
  opacity: 0; }

.k2e-hidden.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s; }

/***********************************************************************************************/
/* Document selector list */
.k2e-document-selector-item {
  background-color: #333;
  color: #F2F2F2;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out; }

.k2e-document-selector-item-container {
  padding: 16px 12px;
  height: 32px; }

.k2e-document-selector-item-separator {
  left: 2%;
  right: 2%;
  border-top: 1px solid #666;
  position: absolute;
  -webkit-transition: border-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out; }
  @media (max-width: 800px) {
    .k2e-document-selector-item-separator {
      left: 2%;
      right: 2%; } }
  @media (min-width: 801px) and (max-width: 1199px) {
    .k2e-document-selector-item-separator {
      left: 5%;
      right: 5%; } }

.k2e-document-selector-item.onyx-selected {
  background-color: #226B9A; }

.k2e-document-selector-item:first-child .k2e-document-selector-item-separator {
  border-color: transparent; }

.k2e-document-selector-item.onyx-selected .k2e-document-selector-item-separator,
.k2e-document-selector-item.onyx-selected + .k2e-document-selector-item .k2e-document-selector-item-separator {
  border-color: transparent; }

@media (min-width: 801px) {
  .k2e-document-selector-item:hover {
    background-color: #226B9A; }
  .k2e-document-selector-item:hover .k2e-document-selector-item-separator,
  .k2e-document-selector-item:hover + .k2e-document-selector-item .k2e-document-selector-item-separator {
    border-color: transparent; } }

.k2e-document-selector-item-label {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  /* hack */
  padding-left: 10px;
  line-height: 31px; }

.k2e-document-selector-item .onyx-checkbox {
  vertical-align: baseline; }

/***********************************************************************************************/
/* Document Display */
.k2e-to-top-button {
  position: fixed;
  z-index: 120;
  right: 15px;
  bottom: 10px; }

.k2e-toggle-fullscreen-button {
  position: fixed;
  z-index: 120;
  top: 10px;
  right: 15px; }

.k2e-document-scroller {
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in; }

.k2e-document-view {
  font-size: 100%;
  font-family: Georgia, serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 1536px;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  vertical-align: baseline;
  line-height: 1; }
  .k2e-document-view a {
    -webkit-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto; }
  .k2e-document-view h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    border: 0; }
  .k2e-document-view h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0.8em 0 0.0455em 0; }
  .k2e-document-view p {
    line-height: 1.55em;
    margin: 1.2em 0; }
  .k2e-document-view > * {
    -webkit-font-smoothing: antialiased; }
  .k2e-document-view .k2e-document-view-clip-footer,
  .k2e-document-view .k2e-document-view-subtitle {
    font-size: 0.8em;
    letter-spacing: 0.09em;
    overflow: visible; }
  .k2e-document-view .k2e-document-view-subtitle {
    margin-top: 1.8em;
    padding-top: 0.9em; }
  .k2e-document-view .k2e-document-view-clip-footer {
    padding-bottom: 0.9em;
    margin-bottom: 1.8em; }
  .k2e-document-view .k2e-document-view-subtitle {
    border-top-width: 1px;
    border-top-style: solid; }
  .k2e-document-view .k2e-document-view-clip-separator {
    margin: 0 auto;
    width: 20%;
    border-top-width: 2px;
    border-top-style: dotted; }
  .k2e-document-view .k2e-icon-button {
    background-image: none;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #F2F2F2;
    -webkit-transition: color 0.1s ease-in;
    -o-transition: color 0.1s ease-in;
    transition: color 0.1s ease-in;
    padding: 0; }
  .k2e-document-view a.k2e-icon-button:visited {
    color: inherit; }

/** Dark theme **/
.k2e-document-view-dark {
  background-color: #333;
  color: #D6DBDF; }
  .k2e-document-view-dark a {
    color: #2FC2EF; }
    .k2e-document-view-dark a:visited {
      color: #2FC2EF; }
  .k2e-document-view-dark .k2e-document-view-subtitle,
  .k2e-document-view-dark .k2e-document-view-clip-separator,
  .k2e-document-view-dark .k2e-document-view-clip-footer {
    border-color: #4E5358;
    color: #8E9AA5; }
  .k2e-document-view-dark .icon-quote-left,
  .k2e-document-view-dark .k2e-icon-button {
    color: #8E9AA5; }
  .k2e-document-view-dark a.k2e-icon-button:hover,
  .k2e-document-view-dark .k2e-icon-button:hover {
    color: white; }
  .k2e-document-view-dark .k2e-to-top-button,
  .k2e-document-view-dark .k2e-toggle-fullscreen-button {
    color: #F2F2F2;
    background-color: #555656;
    border-color: rgba(15, 15, 15, 0.5); }
    @media (max-width: 801px) {
      .k2e-document-view-dark .k2e-to-top-button,
      .k2e-document-view-dark .k2e-toggle-fullscreen-button {
        background-image: none;
        background-color: transparent;
        border-color: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
        color: #F2F2F2; } }
  @media (max-width: 801px) {
    .k2e-document-view-dark.k2e-fullscreen .k2e-to-top-button,
    .k2e-document-view-dark.k2e-fullscreen .k2e-toggle-fullscreen-button {
      color: #8E9AA5; } }

/** Light theme **/
.k2e-document-view-light {
  background-color: #fdfdfa;
  color: #080808; }
  .k2e-document-view-light h1 {
    color: #0a0a0a; }
  .k2e-document-view-light a {
    color: #cd0001; }
    .k2e-document-view-light a:visited {
      color: #cd0001; }
  .k2e-document-view-light .k2e-document-view-subtitle,
  .k2e-document-view-light .k2e-document-view-clip-separator,
  .k2e-document-view-light .k2e-document-view-clip-footer {
    border-color: #d7d7d4;
    color: #8d8d8d; }
  .k2e-document-view-light .icon-quote-left,
  .k2e-document-view-light .k2e-icon-button {
    color: #8d8d8d; }
  .k2e-document-view-light a.k2e-icon-button:hover,
  .k2e-document-view-light .k2e-icon-button:hover {
    color: #272727; }
  .k2e-document-view-light .k2e-to-top-button,
  .k2e-document-view-light .k2e-toggle-fullscreen-button {
    color: #555656;
    background-color: #F2F2F2;
    border-color: rgba(15, 15, 15, 0.5); }
    @media (max-width: 801px) {
      .k2e-document-view-light .k2e-to-top-button,
      .k2e-document-view-light .k2e-toggle-fullscreen-button {
        background-image: none;
        background-color: transparent;
        border-color: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
        color: #F2F2F2; } }
  @media (max-width: 801px) {
    .k2e-document-view-light.k2e-fullscreen .k2e-to-top-button,
    .k2e-document-view-light.k2e-fullscreen .k2e-toggle-fullscreen-button {
      color: #8d8d8d; } }

/** OMG ponies theme **/
.k2e-document-view-omg-ponies {
  background: pink url("../../assets/ponies-blurred.png") no-repeat center/cover;
  color: black;
  text-shadow: -.07em .07em white; }
  .k2e-document-view-omg-ponies h1 {
    -webkit-text-stroke: 1px black;
    color: pink; }
  .k2e-document-view-omg-ponies a {
    text-shadow: -0.07em 0.07em #02171d;
    color: #2FC2EF; }
    .k2e-document-view-omg-ponies a:visited {
      color: #2FC2EF; }
  .k2e-document-view-omg-ponies .k2e-document-view-subtitle,
  .k2e-document-view-omg-ponies .k2e-document-view-clip-separator,
  .k2e-document-view-omg-ponies .k2e-document-view-clip-footer {
    border-color: black;
    color: black; }
  .k2e-document-view-omg-ponies .k2e-icon-button {
    color: black;
    text-shadow: none; }
  .k2e-document-view-omg-ponies .k2e-to-top-button,
  .k2e-document-view-omg-ponies .k2e-toggle-fullscreen-button {
    color: #555656;
    background-color: #F2F2F2;
    border-color: rgba(15, 15, 15, 0.5); }
    @media (max-width: 801px) {
      .k2e-document-view-omg-ponies .k2e-to-top-button,
      .k2e-document-view-omg-ponies .k2e-toggle-fullscreen-button {
        background-image: none;
        background-color: transparent;
        border-color: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
        color: #F2F2F2; } }
  @media (max-width: 801px) {
    .k2e-document-view-omg-ponies.k2e-fullscreen .k2e-to-top-button
.k2e-document-view-omg-ponies.k2e-fullscreen .k2e-toggle-fullscreen-button {
      color: #555656; } }

.k2e-document-view-padding-10 {
  padding-left: 10%;
  padding-right: 10%; }
  @media (max-width: 767px) {
    .k2e-document-view-padding-10 {
      padding-left: 2%;
      padding-right: 2%; } }

.k2e-document-view-padding-20 {
  padding-left: 15%;
  padding-right: 15%; }
  @media (max-width: 767px) {
    .k2e-document-view-padding-20 {
      padding-left: 5%;
      padding-right: 5%; } }

.k2e-document-view-padding-30 {
  padding-left: 20%;
  padding-right: 20%; }
  @media (max-width: 767px) {
    .k2e-document-view-padding-30 {
      padding-left: 10%;
      padding-right: 10%; } }

.k2e-document-view-padding-40 {
  padding-left: 25%;
  padding-right: 25%; }
  @media (max-width: 767px) {
    .k2e-document-view-padding-40 {
      padding-left: 15%;
      padding-right: 15%; } }

/***********************************************************************************************/
/* Settings panel */
.k2e-settings-panel > * {
  padding: 10px;
  min-height: 30px;
  line-height: 30px; }

.k2e-settings-item {
  background-color: #444;
  border-color: #555;
  color: #F2F2F2;
  padding: 8px; }
  @media (max-width: 480px) {
    .k2e-settings-item {
      font-size: 90%; } }
  .k2e-settings-item:first-child {
    border-top-color: #555; }

.k2e-settings-item.k2e-settings-item-caution {
  border-color: #d85959; }
  .k2e-settings-item.k2e-settings-item-caution:first-child {
    border-top-color: #d85959; }

.k2e-settings-item-label-disabled {
  color: gray; }

.k2e-settings-text-input {
  display: inline-block;
  width: 140px; }

.k2e-settings-action-item-button {
  width: 100px; }

.k2e-settings-item-slider {
  width: 200px; }

.k2e-settings {
  position: absolute;
  top: 57px;
  /* main toolbar height */
  left: 0;
  bottom: 0;
  background: #333;
  z-index: 1;
  width: 480px; }
  @media (max-width: 480px) {
    .k2e-settings {
      width: 100%; } }

.k2e-settings.active {
  -webkit-box-shadow: 4px 0 4px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 0 4px rgba(0, 0, 0, 0.3); }

/***********************************************************************************************/
/* Clipping picker popup */
.k2e-clipping-picker-popup {
  /*width: 95%;*/
  /*height: 95%;*/
  /*vertical-align: middle;*/
  text-align: center;
  padding: 30px; }

.k2e-clipping-picker-popup-info {
  color: #CCC;
  font-size: 80%; }

/***********************************************************************************************/
/* Popup */
.k2e-progress-popup {
  padding: 30px;
  text-align: center; }

/***********************************************************************************************/
/* Accordion */
.k2e-accordion {
  padding: 10px; }

.k2e-accordion-item-header {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #4C4C4C;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border: none;
  height: 36px; }
  .k2e-accordion-item-header:hover {
    cursor: pointer; }

.k2e-accordion-item-expander {
  width: 36px;
  height: 36px;
  margin: 0;
  line-height: 35px;
  text-align: center;
  color: #F2F2F2;
  font-size: 10px; }
  .k2e-accordion-item-expander i:before {
    margin-top: 13px; }

.k2e-accordion-item-content {
  border-left: 1px solid #555;
  padding-left: 5px;
  color: #F2F2F2;
  height: 100%;
  margin: 0;
  line-height: 36px;
  height: 36px; }
