/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/

#app {
	background-color: silver;
}

.fixme-sidebar {
	background-color: gray;
}

.fixme-clip-scroller {
	background-color: purple;
}

.k2e-document-selector-item {
	border-bottom: 1px solid black;
	/*padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 1px;
	margin-bottom: 1px;*/
	padding: 16px 12px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.k2e-document-selector-item.onyx-selected
{
	background-color: MidnightBlue;
}

.k2e-document-selector-item-label {
	vertical-align: middle; 
	overflow: hidden; 
	text-overflow: ellipsis;
	width: 80%; /* hack */
	padding-left: 5px;
}

.k2e-document-display-dark {
	background-color: #333; /* #323A40; */
	color: #D6DBDF;
}

.k2e-document-display-dark .k2e-document-display-subtitle {
	border-color: #4E5358;
	color: #A6B5C2;
}

.k2e-document-display {
	/*"minion-pro", Palatino,*/

	font-size: 100%;
	font-family: Georgia, serif;

	box-sizing: border-box;
	margin: 0 auto;
	max-width: 940px;
	padding: 1.2em 1.2em 1.2em 1.2em;
}

.k2e-document-display h1 {
	font-size: 2em;
	font-weight: 700;
	line-height: 1.3;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: 0;
	/*font: inherit;*/
	vertical-align: baseline;
}

.k2e-document-display-subtitle {
	border-top: 1px solid #CDCDCC; /* from theme */
	color: #707065; /* from theme */
	font-size: 0.8em;
	letter-spacing: 0.09em;
	margin-top: 1.8em;
	overflow: hidden;
	padding-top: 0.9em;
}

.k2e-document-display h2 {
	font-size: 1.2em;
	font-weight: 600;
	margin: 0.8em 0 0.0455em 0;

}

.k2e-document-display p {
	text-align: justify;
}