@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../../assets/fontello.eot");
  src: url("../../assets/fontello.eot#iefix") format("embedded-opentype"), url("../../assets/fontello.woff2") format("woff2"), url("../../assets/fontello.woff") format("woff"), url("../../assets/fontello.ttf") format("truetype"), url("../../assets/fontello.svg#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?24753718#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-play:before {
  content: '\e800'; }

/* '' */
.icon-twitter:before {
  content: '\e801'; }

/* '' */
.icon-check:before {
  content: '\e802'; }

/* '' */
.icon-resize-full:before {
  content: '\e803'; }

/* '' */
.icon-resize-small:before {
  content: '\e804'; }

/* '' */
.icon-chevron-up:before {
  content: '\e805'; }

/* '' */
.icon-menu:before {
  content: '\e806'; }

/* '' */
.icon-quote-left:before {
  content: '\e807'; }

/* '' */
.icon-evernote:before {
  content: '\e808'; }

/* '' */
.icon-left-big:before {
  content: '\e809'; }

/* '' */
.icon-upload:before {
  content: '\e80a'; }

/* '' */
.icon-mail:before {
  content: '\e80b'; }

/* '' */
.icon-search:before {
  content: '\e80c'; }

/* '' */
.icon-docs:before {
  content: '\e80d'; }

/* '' */
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em; }

.onyx-toolbar,
.k2e-settings,
.k2e-sidebar,
.k2e-toggle-fullscreen-button,
.k2e-to-top-button,
.k2e-hide-print {
  display: none !important; }

.k2e-document-scroller[style] {
  height: auto !important; }

.k2e-main-panel[style] {
  -webkit-transform: none !important;
      -ms-transform: none !important;
       -o-transform: none !important;
          transform: none !important;
  width: auto !important;
  top: auto !important;
  bottom: auto !important; }

.k2e-document-view[style] {
  padding: 0 !important; }

.enyo-panels[style] {
  width: auto !important; }

.k2e-document-view {
  font-size: 100%;
  font-family: Georgia, serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 1536px;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  vertical-align: baseline;
  line-height: 1;
  background-color: #fdfdfa;
  color: #080808;
  background-color: transparent; }
  .k2e-document-view a {
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto; }
  .k2e-document-view h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
    border: 0; }
  .k2e-document-view h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0.8em 0 0.0455em 0; }
  .k2e-document-view p {
    line-height: 1.55em;
    margin: 1.2em 0; }
  .k2e-document-view > * {
    -webkit-font-feature-settings: "liga" 1, "kern" 1;
       -moz-font-feature-settings: "liga" 1, "kern" 1;
            font-feature-settings: "liga" 1, "kern" 1;
    -webkit-font-variant-ligatures: common-ligatures;
       -moz-font-variant-ligatures: common-ligatures;
            font-variant-ligatures: common-ligatures;
    -webkit-font-smoothing: antialiased; }
  .k2e-document-view .k2e-document-view-clip-footer,
  .k2e-document-view .k2e-document-view-subtitle {
    font-size: 0.8em;
    letter-spacing: 0.09em;
    overflow: visible; }
  .k2e-document-view .k2e-document-view-subtitle {
    margin-top: 1.8em;
    padding-top: 0.9em; }
  .k2e-document-view .k2e-document-view-clip-footer {
    padding-bottom: 0.9em;
    margin-bottom: 1.8em; }
  .k2e-document-view .k2e-document-view-subtitle {
    border-top-width: 1px;
    border-top-style: solid; }
  .k2e-document-view .k2e-document-view-clip-separator {
    margin: 0 auto;
    width: 20%;
    border-top-width: 2px;
    border-top-style: dotted; }
  .k2e-document-view .k2e-icon-button {
    background-image: none;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #F2F2F2;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    padding: 3px; }
  .k2e-document-view a.k2e-icon-button:visited {
    color: inherit; }
  .k2e-document-view h1 {
    color: #0a0a0a; }
  .k2e-document-view a {
    color: #cd0001; }
    .k2e-document-view a:visited {
      color: #cd0001; }
  .k2e-document-view .k2e-document-view-subtitle,
  .k2e-document-view .k2e-document-view-clip-separator,
  .k2e-document-view .k2e-document-view-clip-footer {
    border-color: #d7d7d4;
    color: #8d8d8d; }
  .k2e-document-view .icon-quote-left,
  .k2e-document-view .k2e-icon-button {
    color: #8d8d8d; }
  .k2e-document-view:not(.has-touch) a.k2e-icon-button:hover,
  .k2e-document-view:not(.has-touch) .k2e-icon-button:hover {
    color: #272727;
    background-color: rgba(112, 112, 112, 0.1); }
  .k2e-document-view .k2e-button-activation-layer {
    background-color: rgba(0, 0, 0, 0.1); }
  .k2e-document-view .k2e-to-top-button,
  .k2e-document-view .k2e-toggle-fullscreen-button {
    color: #555656; }
    @media (max-width: 801px) {
      .k2e-document-view .k2e-to-top-button,
      .k2e-document-view .k2e-toggle-fullscreen-button {
        background-image: none;
        background-color: transparent;
        border-color: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
        color: #F2F2F2;
        -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        padding: 3px; } }
  @media (max-width: 801px) {
    .k2e-document-view.k2e-fullscreen .k2e-to-top-button,
    .k2e-document-view.k2e-fullscreen .k2e-toggle-fullscreen-button {
      color: #8d8d8d; } }

@page {
  margin: 2cm; }
