{
  "env": {
    "browser": true
  },
  "globals": {
    "enyo": false
  },
  "rules": {
    "brace-style": 0,
    "no-use-before-define": [2, "nofunc"],
    "spaced-comment": 0,
    "no-console": 0,
    "func-names": 0,
    "indent": 0,
    "no-param-reassign": 0,
    "padded-blocks": 0,
    "wrap-iife": ["error", "inside"],
    "object-property-newline": 0,
    "max-len": ["error", { "code": 100, "ignoreComments": true }],
    "no-throw-literal": 0,
    "import/no-extraneous-dependencies": [
      "error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}
    ],
    "prefer-rest-params": 0
  },
  "extends": "airbnb"
}