@import 'variables';

@mixin k2e-icon-button-reset {
    background-image: none;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: $color-light;
}

@mixin k2e-base-theme {
    $document-horizontal-padding: 20%;
    $document-max-width: (1920 - 1920 * 0.2px);// - $document-horizontal-padding;

    font-size: 100%;
    font-family: Georgia, serif; //"minion-pro", Palatino

    box-sizing: border-box;
    margin: 0 auto;
    max-width: $document-max-width;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    vertical-align: baseline;
    line-height: 1;

    a {
        transition: color 0.2s ease-in;
        word-break: break-all;
        /* Non standard for webkit */
        word-break: break-word;
        hyphens: auto;
    }

    h1 {
        font-size: 2em;
        font-weight: 700;
        line-height: 1.3;
        margin: 0;
        padding: 0;
        border: 0;
    }

    h2 {
        font-size: 1.2em;
        font-weight: 600;
        margin: 0.8em 0 0.0455em 0;
    }

    p {
        line-height: 1.55em;
        margin: 1.2em 0;
    }

    > * {
        -webkit-font-smoothing: antialiased;
    }

    .k2e-document-view-clip-footer,
    .k2e-document-view-subtitle {
        font-size: 0.8em;
        letter-spacing: 0.09em;
        overflow: visible;
    }

    .k2e-document-view-subtitle {
        margin-top: 1.8em;
        padding-top: 0.9em;
    }

    .k2e-document-view-clip-footer {
        padding-bottom: 0.9em;
        margin-bottom: 1.8em;
    }

    .k2e-document-view-subtitle {
        border-top-width: 1px;
        border-top-style: solid;
    }

    .k2e-document-view-clip-separator {
        margin: 0 auto;
        width: 20%;
        border-top-width: 2px;
        border-top-style: dotted;
    }

    .k2e-icon-button {
        @include k2e-icon-button-reset;
        transition: color 0.1s ease-in;
        padding: 0;
    }

    a.k2e-icon-button:visited {
      color: inherit;
    }

}

@mixin k2e-dark-theme {
    $color-foreground-primary: #D6DBDF;
    $color-foreground-secondary: #8E9AA5;//#656C72;//darken(#A6B5C2, 0%);

    background-color: #333;
    color: #D6DBDF;

    a {
        color: #2FC2EF;
        &:visited {
            color: #2FC2EF;
        }
    }

    .k2e-document-view-subtitle,
    .k2e-document-view-clip-separator,
    .k2e-document-view-clip-footer {
        border-color: #4E5358;
        color: $color-foreground-secondary;
    }

    .icon-quote-left,
    .k2e-icon-button {
        color: $color-foreground-secondary;
    }

    &:not(.has-touch) a.k2e-icon-button:hover,
    &:not(.has-touch) .k2e-icon-button:hover {
        color: lighten($color-foreground-secondary, 40%);
    }

    .k2e-to-top-button,
    .k2e-toggle-fullscreen-button {
        color: $color-light;
        background-color: #555656;
        border-color: rgba(15, 15, 15, 0.5);

        @media (max-width: $screen-narrow-max) {
            @include k2e-icon-button-reset;
        }
    }

    &.k2e-fullscreen .k2e-to-top-button,
    &.k2e-fullscreen .k2e-toggle-fullscreen-button {
        @media (max-width: $screen-narrow-max) {
            color: $color-foreground-secondary;
        }
    }
}

@mixin k2e-light-theme() {
    $color-foreground-primary: #080808;
    $color-foreground-secondary: #8d8d8d;

    background-color: #fdfdfa;
    color: $color-foreground-primary;

    h1 {
        color: #0a0a0a;
    }

    a {
        color: #cd0001;
        &:visited {
            color: #cd0001;
        }
    }

    .k2e-document-view-subtitle,
    .k2e-document-view-clip-separator,
    .k2e-document-view-clip-footer {
        border-color: #d7d7d4;
        color: $color-foreground-secondary;
    }

    .icon-quote-left,
    .k2e-icon-button {
        color: $color-foreground-secondary;
    }

    &:not(.has-touch) a.k2e-icon-button:hover,
    &:not(.has-touch) .k2e-icon-button:hover {
        color: darken($color-foreground-secondary, 40%);
    }

    .k2e-to-top-button,
    .k2e-toggle-fullscreen-button {
        color: #555656;
        background-color: $color-light;
        border-color: rgba(15, 15, 15, 0.5);

        @media (max-width: $screen-narrow-max) {
            @include k2e-icon-button-reset;
        }
    }

    &.k2e-fullscreen .k2e-to-top-button,
    &.k2e-fullscreen .k2e-toggle-fullscreen-button {
        @media (max-width: $screen-narrow-max) {
            color: $color-foreground-secondary;
        }
    }
}

@mixin k2e-omg-ponies-theme {
    background: pink url('#{$path-assets}/ponies-blurred.png') no-repeat center/cover;

    color: black;
    text-shadow: -.07em .07em white;

    h1 {
        -webkit-text-stroke: 1px black;
        color: pink;
    }

    a {
        text-shadow: -.07em .07em darken(#2FC2EF, 50%);
        color: #2FC2EF;
        &:visited {
            color: #2FC2EF;
        }
    }

    .k2e-document-view-subtitle,
    .k2e-document-view-clip-separator,
    .k2e-document-view-clip-footer {
        border-color: black;
        color: black;
    }

    .k2e-icon-button {
        color: black;
        text-shadow: none;
    }

    .k2e-to-top-button,
    .k2e-toggle-fullscreen-button {
        color: #555656;
        background-color: $color-light;
        border-color: rgba(15, 15, 15, 0.5);

        @media (max-width: $screen-narrow-max) {
            @include k2e-icon-button-reset;
        }
    }

    &.k2e-fullscreen .k2e-to-top-button
    &.k2e-fullscreen .k2e-toggle-fullscreen-button {
        @media (max-width: $screen-narrow-max) {
            color: #555656;
        }
    }
}
