/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/

@import 'theme-mixins';
@import 'fontello';

$assetPath: "../../assets";
$overlay-button-right: 15px;
$overlay-button-bottom: 10px;
$overlay-button-top: 10px;

/***********************************************************************************************/

@mixin apply-box-shadow($offset-x, $offset-y, $blur-radius, $color) {
    -moz-box-shadow: $offset-x $offset-y $blur-radius $color;
    -webkit-box-shadow: $offset-x $offset-y $blur-radius $color;
    box-shadow: $offset-x $offset-y $blur-radius $color;
}

#app {
	background-color: #333;
}

.k2e-color-error {
    color: #F01A1A;
}

.k2e-main-panel {
	@include apply-box-shadow(-4px, 0, 4px, rgba(0, 0, 0, 0.3));
}

.onyx-toolbar .k2e-export-button {
   background-color: #35A8EE;
}

.k2e-sidebar {
    width: 20%;
}

// hack for fulscreen reflow strangeness

.k2e-document-scroller {
  height: 100%!important;
}

/***********************************************************************************************/
/* Document selector list */

.k2e-document-selector-item {
	/*padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 1px;
	margin-bottom: 1px;*/
	border-bottom: 1px solid #0E0E0E;
	background-color: #333;
	color: white;
	padding: 16px 12px;
    height: (2*16+32px); // checkbox is 32px x 32px
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.k2e-document-selector-item.onyx-selected
{
	background-color: #226B9A;
}

.k2e-document-selector-item-label {
	overflow: hidden; 
	text-overflow: ellipsis;
	width: 90%; /* hack */
	padding-left: 10px;
	line-height: (32px - 1px); // vertically aligned text
}

.k2e-document-selector-item .onyx-checkbox {
    vertical-align: baseline;
}

/***********************************************************************************************/
/* Document Display */

.k2e-to-top-button {
    position: fixed;
    z-index: 120;
    right: $overlay-button-right;
    bottom: $overlay-button-bottom;
}

.k2e-toggle-fullscreen-button {
    position: fixed;
    z-index: 120;
    top: $overlay-button-top;
    right: $overlay-button-right;
}

.k2e-document-view {
    @include k2e-base-theme();
}

/** Dark theme **/
.k2e-document-view-dark {
    @include k2e-dark-theme();
}

/** Light theme **/
.k2e-document-view-light {
    @include k2e-light-theme();
}

/** OMG ponies theme **/
.k2e-document-view-omg-ponies {
    @include k2e-omg-ponies-theme();
}


/***********************************************************************************************/
/* Settings panel */

/*.k2e-settings-panel {
	width: 400px;
}*/

.k2e-settings-panel > * {
	padding: 10px;
	min-height: 30px;
	line-height: 30px;
}

.k2e-settings-item {
    background-color: #444;
    border-color: #555;
    color: white;
	padding: 8px;

    &:first-child {
        border-top-color: #555;
    }
}

.k2e-settings-item-label-disabled {
	color: gray;
}

.k2e-settings-text-input {
	display: inline-block;
	width: 140px;
}

.k2e-settings-action-item-button {
	width: 100px;
}

.k2e-settings {
	position: absolute;
	top: 57px; /* main toolbar height */
	left: 0;
	bottom: 0;
	background: #333;
	z-index: 1;
	width: 480px;
}

.k2e-settings-active {
    @include apply-box-shadow(4px, 0, 4px, rgba(0, 0, 0, 0.3));
}

/***********************************************************************************************/
/* Clipping picker popup */

.k2e-clipping-picker-popup {
	/*width: 95%;*/
	/*height: 95%;*/
	/*vertical-align: middle;*/
	text-align: center;
	padding: 30px;
}

/***********************************************************************************************/
/* Popup */

.k2e-progress-popup {
	padding: 30px;
	text-align: center;
}

/***********************************************************************************************/
/* Accordion */

.k2e-accordion {
	padding: 10px;
}

.k2e-accordion-item-header {
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: #4C4C4C;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	border: none;
    height: 36px;
}

.k2e-accordion-item-expander {
    width: 36px;
    height: 36px;
    margin: 0;
    line-height: (36px - 1px);
    text-align: center;
    color: white;
    font-size: 10px;
}

.k2e-accordion-item-content {
	border-left: 1px solid #555;
	padding-left: 5px;
	color: white;
}
