/*
  Put anything you reference with "url()" in ../assets/
  This way, you can minify your application, and just remove the "source" folder for production
*/

@import 'variables';
@import 'theme-mixins';
@import 'fontello';

$overlay-button-right: 15px;
$overlay-button-bottom: 10px;
$overlay-button-top: 10px;

@mixin show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

@mixin hide {
  visibility: hidden;
  opacity: 0;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.display-inline-block {
  display: inline-block;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

/***********************************************************************************************/

body,
.onyx {
  font-family: 'droid sans', sans-serif-light, sans-serif;
}

#app {
  background-color: #333;
}

.k2e-fuzzy-highlight {
  font-weight: bold;
  color: $color-highlight;
}

.k2e-color-error {
  color: $color-error;
}

.k2e-main-panel {
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.3);
}

.onyx-toolbar .k2e-export-button {
  background-color: $color-evernote-green;
}

.onyx-button,
.k2e-animated-popup {
  transition: visibility 0s ease-in 0.3s,
    opacity 0.3s ease-in;
}

.k2e-animated-popup .bottom-fullwidth-button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 8px 8px;
}

.k2e-animated-popup.can-dismiss {
  padding-bottom: 50px;
}

.k2e-animated-popup.can-dismiss .cancel-button {
  @include show();
}

.k2e-animated-popup .cancel-button {
  @include hide();
}

.k2e-animated-popup.k2e-hidden {
  display: block!important;
}

.onyx-radiobutton {
  color: #292929;
  text-shadow: none;
}

.onyx-button:hover,
.onyx-radiobutton:hover,
.onyx-toggle-button:hover {
  cursor: pointer;
}

.onyx-button.disabled:hover,
.onyx-button[disabled]:hover,
.onyx-toggle-button.disabled:hover,
.onyx-toggle-button[disabled]:hover,
.onyx-radiobutton.disabled:hover,
.onyx-radiobutton[disabled]:hover {
  cursor: default;
}

.onyx-radiobutton.disabled,
.onyx-radiobutton[disabled] {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.onyx-slider-knob:hover {
  cursor: move;
}

.k2e-sidebar {
  width: 25%;
}

.k2e-hidden {
  @include hide();
}

.k2e-hidden.visible {
  @include show();
}

/***********************************************************************************************/
/* Buttons */

.k2e-button {
  position: relative;
  overflow: hidden;
}

.onyx-button.k2e-button.pressed:not(.k2e-icon-button) {
  background-image: url('#{$path-assets}/gradient.png');
  background-position: bottom;
  border: 1px solid rgba(15, 15, 15, 0.2);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.onyx-toolbar .onyx-button.k2e-button.pressed:not(.k2e-icon-button) {
  background-image: url('#{$path-assets}/gradient.png');
  background-position: bottom;
  border-color: rgba(15, 15, 15, 0.5);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.k2e-icon-button {
  padding: 6px;
  position: relative;
  overflow: visible;
}

.k2e-button .k2e-button-activation-layer {
  background-color: rgba(#555, 0.8);
}

.k2e-button.active .k2e-button-activation-layer,
.k2e-button.k2e-export-button .k2e-button-activation-layer,
.k2e-button.k2e-caution-button .k2e-button-activation-layer {
  background-color: rgba(#fff, 0.5);
}

.k2e-icon-button .k2e-button-activation-layer {
  background-color: rgba(#fff, 0.2);
}

.k2e-button-activation-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.k2e-icon-button > *:not(.k2e-button-activation-layer),
.k2e-button > *:not(.k2e-button-activation-layer) {
  position: relative;
}

.onyx-toolbar .k2e-icon-button,
.k2e-document-scroller .k2e-icon-button {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}

.k2e-app-toolbar:not(.has-touch) .onyx-toolbar .k2e-icon-button:hover {
  background-color: rgba(#707070, 0.5);
}

.onyx-toolbar .k2e-icon-button.active {
  background-color: #707070;
}

.k2e-app-toolbar:not(.has-touch) .onyx-toolbar .k2e-icon-button.active:hover {
  background-color: #707070;
}

.onyx-button.k2e-caution-button {
  background-color: lighten($color-error, 10%);
  color: $color-light;
}

/***********************************************************************************************/
/* Document selector list */

.k2e-document-selector-item {
  background-color: #333;
  color: $color-light;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}

.k2e-document-selector-item.onyx-selected {
  transition: background-color 0.3s ease-in-out;
}

.k2e-document-selector-item-container {
  // border: 2px solid transparent;
  padding: 16px;
  height: 62px; // checkbox is 32px x 32px
}

.k2e-document-selector-item-info-container {
  vertical-align: middle;
  width: 100%;
}

.k2e-document-selector-item-multiselected .k2e-document-selector-item-info-container {
  padding-left: 10px;
  width: 90%;
  width: calc(100% - 42px); // checkbox is 32px x 32px, + 10px left padding
}

.k2e-document-selector-item-separator {
  left: 2%;
  right: 2%;
  border-top: 1px solid #666;
  position: absolute;
  transition: border-color 0.2s ease-in-out;

  @media (max-width: $screen-narrow-min) {
    left: 2%;
    right: 2%;
  }

  @media (min-width: $screen-narrow-max) and (max-width: $screen-md-max) {
    left: 5%;
    right: 5%;
  }
}

.k2e-document-selector-item.onyx-selected {
  background-color: #226B9A;
}

.k2e-document-selector-item:first-child .k2e-document-selector-item-separator {
  border-color: transparent;
}

.k2e-document-selector-item.onyx-selected .k2e-document-selector-item-separator,
.k2e-document-selector-item.onyx-selected + .k2e-document-selector-item .k2e-document-selector-item-separator {
  border-color: transparent;
}

.k2e-document-selector-item-info-label {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: (32px - 1px); // vertically aligned text
}

.k2e-document-selector-item-info-label-author {
  color: #8E9AA5;
}

/***********************************************************************************************/
/* Document Display */

.k2e-to-top-button {
  position: fixed;
  z-index: 120;
  right: $overlay-button-right;
  bottom: $overlay-button-bottom;
}

.k2e-toggle-fullscreen-button {
  position: fixed;
  z-index: 120;
  top: $overlay-button-top;
  right: $overlay-button-right;
}

.k2e-document-scroller {
  transition: background-color 0.2s ease-in,
    color 0.2s ease-in;
}

.k2e-document-view {
  @include k2e-base-theme();
}

/** Dark theme **/
.k2e-document-view-dark {
  @include k2e-dark-theme();
}

/** Light theme **/
.k2e-document-view-light {
  @include k2e-light-theme();
}

/** OMG ponies theme **/
.k2e-document-view-omg-ponies {
  @include k2e-omg-ponies-theme();
}

.k2e-document-view-padding-10 {
  padding-left: 10%;
  padding-right: 10%;

  @media (max-width: $screen-xs-max) {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.k2e-document-view-padding-20 {
  padding-left: 15%;
  padding-right: 15%;

  @media (max-width: $screen-xs-max) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.k2e-document-view-padding-30 {
  padding-left: 20%;
  padding-right: 20%;

  @media (max-width: $screen-xs-max) {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.k2e-document-view-padding-40 {
  padding-left: 25%;
  padding-right: 25%;

  @media (max-width: $screen-xs-max) {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.k2e-document-view-clip-footer-action-container .k2e-icon-button {
  vertical-align: middle;
}

.k2e-clipboard-icon-position-hack > i {
  height: 16px;
  overflow: visible;
  margin-top: -5px;
}

/***********************************************************************************************/
/* Settings panel */

.k2e-settings-panel > * {
  padding: 10px;
  min-height: 30px;
  line-height: 30px;
}

.k2e-settings-item {
  background-color: #444;
  border-color: #555;
  color: $color-light;
  padding: 8px;

  @media (max-width: $screen-xs-min) {
    // padding: 4px;
    font-size: 90%
  }

  &:first-child {
    border-top-color: #555;
  }
}

.k2e-settings-item.k2e-settings-item-caution {
  border-color: lighten($color-error, 10%);

  &:first-child {
    border-top-color: lighten($color-error, 10%);
  }
}

.k2e-settings-item-label-disabled {
  color: gray;
}

.k2e-settings-text-input {
  display: inline-block;
  width: 140px;
}

.k2e-settings-action-item-button {
  width: 100px;
}

.k2e-settings-item-slider {
  width: 200px;
}

.k2e-settings {
  position: absolute;
  top: 57px; /* main toolbar height */
  left: 0;
  bottom: 0;
  background: #333;
  z-index: 1;
  width: 480px;

  @media (max-width: $screen-xs-min) {
    width: 100%;
  }
}

.k2e-settings.active {
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.3);
}

/***********************************************************************************************/
/* Clipping picker popup */

.k2e-clipping-picker-popup {
  /*width: 95%;*/
  /*height: 95%;*/
  /*vertical-align: middle;*/
  text-align: center;
  padding: 30px;
}

.k2e-clipping-picker-popup-info {
 color: #CCC;
 font-size: 80%;
}

.k2e-clipping-picker-popup.onyx-blue .cancel-button {
  background-color: rgba(0, 0, 0, 0);
}

/***********************************************************************************************/
/* Popup */

.k2e-progress-popup {
  padding: 30px;
  text-align: center;
}

/***********************************************************************************************/
/* Accordion */

.k2e-accordion {
  padding: 10px;
}

.k2e-accordion-item-header {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #4C4C4C;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border: none;
  height: 36px;

  &:hover {
    cursor: pointer;
  }
}

.k2e-accordion-item-expander {
  width: 36px;
  height: 36px;
  margin: 0;
  line-height: (36px - 1px);
  text-align: center;
  color: $color-light;
  font-size: 10px;

  i:before {
    margin-top: 13px;
  }
}

.k2e-accordion-item-content {
  border-left: 1px solid #555;
  padding-left: 5px;
  color: $color-light;
  height: 100%;
  margin: 0;
  line-height: 36px;
  height: 36px
}

/***********************************************************************************************/
/* App Toolbar */

.k2e-app-toolbar > * {
  height: auto !important;
}

.k2e-app-toolbar .onyx-toolbar-inline > * {
  @media (max-width: $screen-xs-min) {
    font-size: 70%;
    margin-left: 0;
    margin-right: 1px;
  }
}
